*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body{
   background-image: linear-gradient(to top, #AB90DD, #6B21F8);
}

.inicio {
    background: url(img/frotas.jpg);
    height: 100vh;
  text-align: center;
  background-size: cover;
  display: flex;
  align-items: center;

}

#titulo{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 70px;
    line-height: 60px;
    text-align: center;
}

.container{
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px 0 white;
    transition: 0.4s ease;
}

.container input[type=radio]{
        display: none;
}

.container .card{
    position: absolute;
    width: 40%;
    height: 80%;
    left: 0;
    right: 0;
    margin: 100px auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    box-shadow: 0 0 10px 0 rgba(21,111,195,0.5);
    transition: 0.4s ease;
    cursor: pointer;
}
.container .card img{
    width: 70%;
    height: 40%;
    object-fit: initial;
    border-radius: 10px;
    margin-top: 140px;
}

.container .card h1{
    position: absolute;
    z-index: 9;
    color: #000000;
    font-size: 2rem;
    margin-top: 60px;
}
.container .cards{
    position: relative;
    width: 100%;
    height: 100%;
}

#item-1:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-1,
#item-3:checked ~ .cards #song-2{
    transform: translateX(-40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}
#item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-1{
    transform: translateX(40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}
#item-1:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-3{
    transform: translateX(0) scale(1);
    opacity: 1;
    z-index: 1;
}







 /* font-size: medium;
 text-align:right;
 text-decoration: solid;
 text-transform: uppercase;
 text-overflow: ellipsis;
} */

/* #bozzeman {
    
    justify-content: center;
    text-align:  center;
}
#bozzeman h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-decoration: solid;
    text-transform: uppercase;
    text-overflow: ellipsis;
    text-align: center;

}
#bozzeman img{
    width: 320px;
    height: 200px;
} */


#Charleston img{
    width: 320px;
    height: 200px;
}

#constellation img{
    width: 320px;
    height: 200px;
}
#discovery img{
    width: 320px;
    height: 200px;
}

#equinox img{
width: 320px;
    height: 200px;}