*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

section{
   background-image: linear-gradient(to top, #AB90DD, #6B21F8);
}

.inicio{
    
    padding: 30%;
    background-image: url(img/frotas.jpg);
  
    background-repeat: no-repeat;
    background-size: 100%;
    


}

.inicio img{
    width: 320px;
    height: 200px;
    border-radius: 30%;
   
    
}

#bozzeman img{
    width: 320px;
    height: 200px;
}

#Charleston img{
    width: 320px;
    height: 200px;
}

#constellation img{
    width: 320px;
    height: 200px;
}
#discovery img{
    width: 320px;
    height: 200px;
}

#equinox img{
width: 320px;
    height: 200px;}